// Specific CSS for your home-page
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: white;
  text-shadow: 3px 3px 5px pink;
  background: $gray;
  border-top: 3px solid pink;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.5s;
}

.footer-links a:hover {
  text-shadow: 5px 5px 7px pink;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
  border-bottom: 3px solid pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .active > .nav-link  {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 24px;
    text-shadow: 3px 3px 5px pink;
}

body {
  background-image: url("gaming_background.jpg");
  // background-image: url("gaming_background_2.jpg");
  background-size: auto;
}

h1 {
  font-size: 3.5rem;
  color: white;
  margin: 36px;
  text-shadow: 3px 3px 5px pink;
}

h3 {
  color: white;
  text-shadow: 3px 3px 5px pink;
}

.container > h3 {
  margin-bottom: 24px;;
}

.container .centered-par > a {
  font-size: 24px;
  padding: 10px;
  background-color: rgba(46, 49, 49, 0.7);
  border: 1px solid pink;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px 5px pink;
  transition: 0.5s;
}

.container .centered-par > a:hover {
  text-shadow: 5px 5px 7px pink;
}

.container .centered-par {
  margin-top: 24px;
  margin-bottom: 24px;
}

.form-margin {
  margin-top: 9vh;
  margin-bottom: 34vh;
  width: auto;
  color: white;
}

.form-margin-md {
  margin-top: 9vh;
  margin-bottom: 20vh;
  width: auto;
  color: white;
}

.form-margin-xl {
  margin-top: 10vh;
  margin-bottom: 47vh;
  width: auto;
  color: white;
}

.new-btn {
  font-size: 24px;
  padding: 10px;
  background-color: rgba(46, 49, 49, 0.7);
  border: 1px solid pink;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px 5px pink;
  transition: 0.5s;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container .centered-par > a {
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container .centered-par > a {
    display: block;
  }
}
