<div class="container form-margin">
  <%= simple_form_for [@game, @character] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'new-btn' %>
  <% end %>
</div>
